body{
  margin: auto 0;
  font-family: 'Muli', sans-serif;
  font-size: 1.5rem;
  background-color: #CBF1F5;
  text-align: center;
}


h1{
  font-family: 'Cabin Sketch', cursive;
  font-size: 5rem;
}

h3{
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.5rem;
  color: #11999E;
}

a{
  color: #11999E;
  text-decoration: none;
}


/* Top container styling */
.main-title{
  padding: 30px;
}

/* Middle container styling */
.middle-container{
  position:relative;
}

.sky{
  background-color: #a6e3e9;
  height: 280px;
  position:relative;
}

.top-cloud{
  position: absolute;
  top:30%;
  right: 10%;
}

.bottom-cloud{
  position: absolute;
  bottom:30%;
  left: 10%;
}

.letter-area{
  padding-top:8%;
}

.random-letter{
  width:100px;
  height:100px;
  border-width:medium;
}


.random-letter-text{
  margin-top:10px;
  font-size:180%;
}

.speaker-button{
  border-radius: 50%;
}

.fas{
  margin:10px 0;
}


/* Road styling */

#road{
  background-color: #888888;
  height: 80px;
  position:relative;
}

.start-flag{
  position: absolute;
  bottom:0;
  left:2%;
  height:25%;
}

.finish-flag{
  position: absolute;
  bottom:0;
  right:2%;
  height:25%;
}

.car{
  width: 8%;
  position:absolute;
  top: 260px;
  left: 10px;
}

.start-line{
  border:none;
  position: absolute;
  height: 80px;
  width: 12px;
  left: 10%;
  background-image: url("../images/finish-line.jpg");
  background-repeat: repeat;
  background-size: contain;
}

.finish-line{
  border:none;
  position: absolute;
  height: 80px;
  width: 12px;
  right: 0;
  background-image: url("../images/finish-line.jpg");
  background-repeat: repeat;
  background-size: contain;
}

.vl{
  border-left: 6px dashed white;
  height: 80px;
  position: absolute;
  top: 0;
}

/* Grass - pronounced letter styling */

#grass{
  background-color: #17B978;
  height: 60px;
  position: relative;
}

.pronounced-letter{
  position: absolute;
  width: 3.5%;
  text-align:center;
}


hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #11999E;
    border-width: 8px;
    width: 5%;
    margin: 0 auto;
}

.copyright{
  font-size:1rem;
  color: #11999E;
}

.icon{
  font-size:1rem;
  color: #11999E;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.about-text{
  margin: 70px auto;
  font-size:1rem;
  width: 60%;
  text-align: left;
  line-height: 2;
}

.racing-game{
  width: 60%;
  float:left;
  margin-left:0;
  margin-right:30px;
}

.content-text{
  color:black;
  font-size:1rem;
}

.hello-text {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  color:#11999E;
}

.signature-text{
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  color:#11999E;
}

.how-text{
  margin:70px auto;
  width:60%;
  text-align:left;
}

.back-to-home{
  display: inline-block;
  font-size:1.2rem;
  font-family: 'Cabin Sketch', cursive;
  color: #11999E;
  position:absolute;
  left:20px;
  top:20px;
}


ol {
  list-style-type: decimal;
  line-height: 2;
  color:#11999E ;
}

.check-button-area{
  padding:20px;
}

.check-button{
  display:none;
}

@media only screen and (max-width: 1000px) {
  .check-button{
    display:inline-block;
  }

  .top-cloud,.bottom-cloud{
    height:10%;
  }

}
